lib/*
!lib/.gitkeep
node_modules
coverage
.nuxt
example/dist
example/yarn.lock
.now
dist
.vercel

# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
